
.logo{
    font-size:xx-large;
    text-align:center;
    width:80%;
    font-family:fantasy;
}
.nav-container{
    font-size:20px;
    top:0px;
    margin-right:100px;
    position:sticky;
    align-self: flex-start;
}

nav ul{
    padding:0;
}
nav ul li{
    list-style-type: none;
    margin:0;
    padding:10px;
    width:200px;
    letter-spacing: 0.2em;
}
li a{
    display:block;
    text-decoration:none;
    padding:5px;
    background-color:rgb(238, 238, 217);
    border:solid 1px #000000;
}
li a:hover{
    background-color: rgb(227, 227, 205);
    transform:scale(1.1,1.1);
    font-weight:600;
}